body {
  margin: 0,
}

.page {
  background-image: url("../../assets/how-arc-raiders-lets-you-thrive-in-a-post-apocalyptic-world-dominated-by-machines-3840x2160-bf6cde0708a6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: $bg-size;
  min-width: $bg-size;



  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
